/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
} 

.container{
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    
}

hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}


/* top player styles0 */
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
    gap: 16px;
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player-name{
    font-size: 18px;
}

